.logo-naw{
    width: 13%;
    height: auto;
}

.fondo {
    background-image: url('/Content/Images/Logo Eká sin fondo.png');
    background-position: 70%, -60vh;
    background-size: 80%;
    background-repeat: no-repeat;
}


/* Breack responsive*/
@@ media only screen and (max-width: 600px) {
    .fondo {
        background-size: 46vh;
        background-position: 95%, -60vh;
    }
}