.logo-naw{
    width: 13%;
    height: auto;
}

.fondo {
    background-image: url('/Content/Images/logo-nofondo.png');
    background-position: 40%, -60vh;
    background-size: 60%;
    background-repeat: no-repeat;
}

.a{
    font-weight: bold;
    color: black;
}


/* Breack responsive*/
@@ media only screen and (max-width: 600px) {
    .fondo {
        background-size: 46vh;
        background-position: 95%, -60vh;
    }
}